body{
    /* background-color: #8FA998; */
    margin:0;
    background-color: #8FA998;
    color: #333333;
    font-family: 'Roboto', Helvetica, sans-serif; /*google font and back up font*/
}
/* || Landing Page */
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vp;
    height: 80vh;
    min-height: 400px;
    padding: 100px ;
    background-color: #F2A65A;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 291px;
}

.wave .shape-fill {
    fill: #8FA998;
}
/* |||HomePage Styling */

/* ||NavBar Styling */
.navBar{
    top:0;
    margin: -10px;
    padding: 0;
    height: 100%;
    background-color: #333333;
    width: 150px;
    position: fixed;
    overflow:auto;
} 

/* navbar text */
.navBar>nav>a{
  display: block;
  color:#8FA998;
  padding: 0px 0px 20px 0px;
  text-decoration: none;
  
}

/* symbols styling */
.material-symbols-outlined{
    position: relative;
    padding: 10px 5px 0px 10px;
    top: 5px;
}

/* pushes body to side */
.bodyCont{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
}
/* ||Title Styling */

/* Title Styling */

.headshot{
    display: flex; /*flexbox for headshot*/
    flex-flow: column wrap;
    height: 200px;
    padding-bottom: 20px; 
    /* flex: 1 ; */
    /* justify-content: space-around; */
    
    /* flex-wrap: wrap; shorthand flex-flow */
    
}


.box1{
    flex: 1 0 1px;
    width: 70%;
    
    
}

.box2{
    flex: 1 0 1px;
    width: 20%;
    text-align: center;
    
}


/* ||About Styling */

/* About Me Heading Styling */

 .About-Me{
    border: 3px solid black;
    background: #F2A65A;
    text-align: center;
} 

/* Three columns for about/other*/
.three-col{
    /* display:flex; - flex is one-dimensional, more displaying items in a row */
    display: grid; /*2D allow you to display rows and columns*/
    grid-template-columns:1fr 1fr 1fr ;
    
    gap: 100px;
    margin: auto;
    color: #333333;

}

/* Columns styling */
.about-rad1, .about-rad2, .about-rad3{
    border-radius: 5px;
    background-color: #C9F299;
    padding: 0px 20px 0px 20px;
    box-shadow: 5px 5px 15px ;
    height: 180px;
    
}

/* |Technolgies Styling */
.techBox{
    display: flex;
    justify-content: center;
}

i{
    font-size: 5em;
    color: #333333;
}

i:hover{
    color:#F2A65A;
}

/* Button Styling */

.linkButton{
    background-color: #F2A65A;
    color:#333333;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;
}
.linkButton>a{
    color:#333333;
    text-decoration: none;
}
.linkButton:hover{
    background-color: orange;
    font-size: larger;
}

.about-rad1:hover, .about-rad2:hover, .about-rad3:hover{
    font-size:20px ;
    box-shadow: 10px 10px 20px ;
    height: auto;
}
