body{
    /* background-color: #8FA998; */
    background: linear-gradient(to right bottom, #8FA998, #333333);
    color: #333333;
    font-family: 'Roboto', Helvetica, sans-serif; /*google font and back up font*/
}
/* || Landing Page */

/* |||HomePage Styling */

/* ||NavBar Styling */
.navBar{
    margin: -10px;
    padding: 0;
    height: 100%;
    background-color: #333333;
    width: 150px;
    position: fixed;
    overflow:auto;
} 

.navBar>nav>a{
  display: block;
  color:#8FA998;
  padding: 0px 0px 20px 0px;
  text-decoration: none;
  
}

.material-symbols-outlined{
    position: relative;
    padding: 0px 5px 0px 5px;
    top: 5px;
}

.bodyCont{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
}
/* ||Title Styling */

/* Title Styling */

.headshot{
    display: flex; /*flexbox for headshot*/
    flex-flow: column wrap;
    height: 200px;
    padding-bottom: 20px; 
    /* flex: 1 ; */
    /* justify-content: space-around; */
    
    /* flex-wrap: wrap; shorthand flex-flow */
    
}


.box1{
    flex: 1 0 1px;
    width: 70%;
    
    
}

.box2{
    flex: 1 0 1px;
    width: 20%;
    text-align: center;
    
}



/* .headshot>div { /*selects all elements of class headshot that are in a div
    display: flex; 
    align-items:flex-end;
    justify-content: center;
  } */


/* .headshot{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr 1fr;
} */

/* .box1{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
}


.box2{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    
} */

/* ||About Styling */

/* About Me Heading Styling */
 .About-Me{
    border: 3px solid black;
    background-color: #F2A65A;
    text-align: center;
} 

/* Three columns for about/other*/
.three-col{
    /* display:flex; - flex is one-dimensional, more displaying items in a row */
    display: grid; /*2D allow you to display rows and columns*/
    grid-template-columns:1fr 1fr 1fr ;
    
    gap: 100px;
    margin: auto;
    color: #333333;

}

/* Columns styling */
.about-rad1, .about-rad2, .about-rad3{
    border-radius: 5px;
    background-color: #C9F299;
    padding: 0px 20px 0px 20px;
    box-shadow: 5px 5px 15px ;
    height: 150px;
    
}

/* Button Styling */

.linkButton{
    background-color: #F2A65A;
    color:#333333;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;
}
.linkButton>a{
    color:#333333;
    text-decoration: none;
}
.linkButton:hover{
    background-color: orange;
    font-size: larger;
}

.about-rad1:hover, .about-rad2:hover, .about-rad3:hover{
    font-size:20px ;
    box-shadow: 10px 10px 20px ;
    height: 200px;
}